@import "../../Assets/Scss/style.scss";
@import "../../Assets/Scss/colors.scss";

.header {
    padding: 73px 0px;
    background: $midnightGreen;

    &__logo-img {
        width: 160px;
        height: 40px;
    }

    &__content {
        @include flexStyle(center, space-between, none)
    }

    &__box {
        @include flexStyle(center, space-between, none)
    }

    &__list {
        margin-left: 80px;
        @include flexStyle(center, space-between, none)
    }

    &__item+&__item {
        margin-left: 40px;
    }

    &__link {
        @include siteText(18px, 28px)
    }

    &__menu-btn {
        display: none;
        width: 20px;
        height: 20px;
        border: none;
        background-color: transparent;
        background: url("../../Assets/Icon/burger.svg")no-repeat;
    }

    &__btn {
        display: inline-block;
        @include siteButton($white, $white);
    }

    &__btn:hover {
        color: $sacramentoStateGreen;
        background-color: $white;
    }

    &__btn:active {
        opacity: 0.6;
    }
}

.menu-nav {
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0px;
    right: -100%;
    width: 75%;
    height: 100ch;
    overflow-y: auto;
    padding: 0 40px 20px 40px;
    transition: 0.3s;
    background-color: $policeBlue;
    z-index: 999;
}

.menu-nav .header__list {
    height: 100vh;
    @include flexStyle(center, start, column);
    position: absolute;
    top: 112px;
    left: 48px;
    margin-left: 0px;
    margin-bottom: 36px;
}

.menu-nav .header__item+.header__item {
    margin-left: 0px;
    margin-top: 24px;
}

.menu-nav .header__btn {
    display: flex;
    position: absolute;
    top: 230px;
}

.menu-nav .header__clos {
    position: absolute;
    top: 56px;
    right: 25px;
    width: 17px;
    height: 17px;
    border: none;
    background-color: transparent;
    background: url("../../Assets/Icon/close.svg") no-repeat
}

.header--open .menu-nav {
    right: 0%;
}

// Responsiv Tablet

@media only screen and (max-width: 768px) {
    .header {
        padding: 64px 0px;

        &__list {
            margin-left: 48px;
        }

        &__logo-img {
            width: 128px;
            height: 32px;
        }
    }
}

@media only screen and (max-width: 555px) {
    .header {
        &__nav {
            display: none;
        }

        &__btn {
            display: none;
        }

        &__menu-btn {
            display: flex;
        }
    }
}

@media only screen and (max-width: 368px) {
    .header {
        padding: 48px 0px;

        &__menu-btn {
            width: 20px;
            height: 20px;
        }
    }
}